# Rules & configuration file for libunaccept.so
#
# !!! THIS FILE IS FOR TESTING ONLY, IT IS NOT ACTUALLY A USEFUL CONFIG !!!
#
# Basic configuration...
tarpit_size 10
blocking 1
syslog 1
#
# Rules are evaluated in-order until one matches.  Default (fall through)
# behavior is to accept connections.
#
# Policy can be one of:
#   allow  - To accept the connections
#   deny   - To immediately reject the connection
#   tarpit - To accept the connection, but ignore it (closing it "later")
#
# Policies may be optionally combined with the word "verbose", using a comma
# or some other non-whitespace character to log rule matches to STDERR.
#
# Networks and netmasks must be in dotted-quad notation, nothing else is
# understood by the trivial config parser.
#
# POLICY        NETWORK         NETMASK
verbose,allow   127.0.0.1       255.255.255.255
verbose,tarpit  172.16.0.0      255.240.0.0
verbose,allow:host netsource.ie
verbose,tarpit:host klaki.net
verbose,deny    0.0.0.0         0.0.0.0
#

The parser will complain about the following 7 lines:

foo 127.0.0.1 255.255.255.255
allow 127.0.0.1
deny 127.0.0.1/24
allow deny 127.0.0.1 255.255.255.255
allow 127.0.0.1 255.255.255.256
allow 127.0.0.1 255.255.255.0
deny 127.0.0.1 255.255.255.255 extra crap

# Dummy rule to fill up our test rulespace...
allow 0.0.0.0 0.0.0.0
deny 0.0.0.0 0.0.0.0

